---
import ContactUsModal from "@/components/ContactUsModal.astro";
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";
import "@/index.scss";

const {
  title = "Ventrad | Solution de gestion des commandes et ventes",
  description = "Gérez sans effort vos stocks, vos commandes et vos clients sur le web et sur mobile. Augmentez vos ventes et développez votre activité avec la solution e-commerce tout-en-un de Ventrad.",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K2M6L48G');</script>
<!-- End Google Tag Manager -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="sitemap" href="/sitemap-0.xml" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

      body {
        font-family: "Urbanist", sans-serif;
      }
    </style>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen flex flex-col relative">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K2M6L48G"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <Nav />
    <main class="grow mt-3 lg:mt-5 flex flex-col gap-24 lg:gap-36">
      <slot />
    </main>
    <Footer />
    <ContactUsModal />
  </body>
</html>

<script>
  import axios from "axios";
  const mobileMenu = document.querySelector(".mobile-menu") as HTMLElement;
  const mobileMenuBtn = document.querySelector(".menu-btn");
  const mobileMenuBtnClose = document.querySelector(".menu-btn-close");
  const contactModal = document.querySelector(".contact-modal") as HTMLElement;
  const contactBtns = document.querySelectorAll(".contact-btn");
  const closeModalBtn = document.querySelector(
    ".close-modale-btn"
  ) as HTMLElement;
  const toast = document.querySelector(".toast") as HTMLElement;
  const form = document.querySelector("#contact-us") as HTMLFormElement;
  const watchTrialBtns = document.querySelectorAll(".go-watch-trial");
  const videoSection = document.querySelector(".video-section") as HTMLElement;
  const sendContactBtn = document.querySelector(".send-contact-btn");

  // Hide show contact modal
  const showModal = () => {
    contactModal.classList.add("show");
  };
  const hideModal = () => {
    contactModal.classList.remove("show");
  };
  contactBtns.forEach((btn: HTMLElement) =>
    btn.addEventListener("click", showModal)
  );
  closeModalBtn.addEventListener("click", hideModal);
  contactModal.addEventListener("click", e => {
    if ((e.target as HTMLElement).classList.contains("contact-modal")) {
      hideModal();
    }
  });

  // Hide show nav menu
  const showMenu = () => {
    mobileMenu.style.display = "block";
  };
  const hideMenu = () => {
    mobileMenu.style.display = "none";
  };
  mobileMenuBtn.addEventListener("click", showMenu);
  mobileMenuBtnClose.addEventListener("click", hideMenu);

  //Handle form submit
  const hideToast = () => toast.classList.remove("show");
  const showToast = () => toast.classList.add("show");

  form.addEventListener("submit", async e => {
    e.preventDefault();
    const formData = new FormData(form);

    const nom = formData.get("last_name");
    const prenom = formData.get("first_name");
    const phone = formData.get("phone");
    const email = formData.get("email");
    const entreprise = formData.get("company");
    const data = {
      service_id: "service_kabbjuu",
      template_id: "template_eqpnega",
      user_id: "w7WT0mi99cTPE-1So",
      template_params: {
        full_name: `${prenom} ${nom}`,
        nom,
        prenom,
        phone,
        email,
        entreprise,
      },
    };
    try {
      sendContactBtn.classList.add("loading");
      sendContactBtn.setAttribute("disabled", "true");
      await axios.post("https://api.emailjs.com/api/v1.0/email/send", data);
    } catch (error) {
      console.log(error);
    } finally {
      hideModal();
      showToast();
      setTimeout(() => {
        hideToast();
      }, 3000);
      sendContactBtn.classList.remove("loading");
      sendContactBtn.removeAttribute("disabled");
      form.reset();
    }
  });

  // watch trial btns
  watchTrialBtns.forEach((btn: HTMLButtonElement) =>
    btn.addEventListener("click", () => {
      videoSection.scrollIntoView({
        behavior: "smooth",
        block: "center",
      });
      hideMenu();
    })
  );
</script>
