---
import { cn } from "@/utils/cn";
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";
import Paragraph from "./Paragraph.astro";
import { plansData } from "@/utils/constants";
import SubTitle from "./SubTitle.astro";
---

<div class="grid grid-cols-4 gap-4 mt-8 lg:mt-14 lg:gap-9">
  {
    plansData.map(plan => {
      const { title, description, price, features } = plan;
      const isPremium = title === "Plan Avancé";
      return (
        <div
          class={cn(
            " border-2 relative rounded-lg py-6 lg:py-10 pt-8 lg:pt-12 lg:rounded-2xl text-secondary-dark-hover border-border flex flex-col gap-4",
            { "border-primary text-primary": isPremium }
          )}>
          <p
            class={cn(
              "absolute -top-5 right-1/2 translate-x-1/2 opacity-0 z-10 text-white bg-primary py-2 px-4 font-semibold tracking-wide rounded-full hidden",
              {
                "block opacity-100": isPremium,
              }
            )}>
            Recommandé
          </p>
          <div class="flex flex-col gap-2 px-4 lg:px-6 ">
            <p
              class={cn(
                "text-secondary-darker text-xl lg:text-2xl font-bold tracking-wide",
                {
                  "text-primary": isPremium,
                }
              )}>
              {title}{" "}
            </p>
            <Paragraph className="!text-lg"> {description} </Paragraph>
            <div class="my-2 lg:my-4 flex justify-center items-end gap-[2px] p-1">
              <p class={cn("text-3xl  lg:text-5xl font-bold")}>{price}</p>
              <p class="font-extrabold text-2xl lg:text-3xl">$</p>
              <p class="text-[#B3B3B3] text-base">/ Par Mois</p>
            </div>
          </div>
          <p class="w-full h-[1px] my-4 bg-border" />
          <div class="flex flex-col h-full gap-4 px-4 lg:px-6 lg:pr-3">
            {features.map(item =>
              item.title === "end" ? (
                <p class="h-5" />
              ) : (
                <div class="grid grid-cols-[auto_1fr] gap-2">
                  <p
                    class={cn(
                      "h-5 aspect-square text-base flex items-center justify-center rounded-full bg-secondary",
                      {
                        "bg-primary": isPremium,
                      }
                    )}>
                    <Icon name="check" />
                  </p>
                  <p
                    class={cn(
                      "flex gap-2 justify-between text-secondary-dark-hover font-medium items-start text-start"
                    )}>
                    {item.title}

                    {item.subtitle && (
                      <abbr title={item.subtitle} class="flex items-center justify-center rounded-full text-white h-4 text-xs cursor-pointer aspect-square bg-[#8D8D8D]">
                        !
                      </abbr>
                    )}

                    {/* {item.subtitle && (
                      <span class="text-sm text-gray-500">
                        {item.subtitle}{" "}
                      </span>
                    )} */}
                  </p>
                </div>
              )
            )}
            <div class="my-4" />
            <Button
              action="contact"
              color={isPremium ? "primary" : "secondary"}
              className="!mt-auto">
              Contacter Sales
            </Button>
          </div>
        </div>
      );
    })
  }
</div>
